@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 260px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";

        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/lantern-7004643_1280.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}

p {
    font-family: $font-family-serif;
    font-size: 16px;
}

.text-justify {
    text-align: left;
}

.image-card{
    position:relative;
    &:hover{
        .titre-image,
        .action-image-buttons{
            opacity: 1;
        }


    }

    img{
        transition: all 0.3s;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }

    .action-image-buttons{
        position : absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.3s;
    }
}

/* CSS menu*/

.Entrées {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.dej-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 10px;
}


.Déjeuner {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}


.din-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 10px;
}


.Dinner {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.vin-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    padding: 10px;
}


.Vins {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
h3.menu-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

h3, h5, p {
    margin: 10px 0;
}

h3 {
    font-family: $font-family-serif;
    font-size: 2em;
    color: $primary;
}

h4 {
    font-family: $font-family-sans-serif;
    font-size: 24px;
    color: $dark;
    font-weight: bold;
}

h5 {

    font-size: 20px;

}

h6 {
    font-size: 16px;
}

.highlight {
    font-family: $font-family-serif;
    color: $secondary;
    font-style: italic;
}

.special {
    font-family: $font-family-serif;
    color: $primary;
    font-weight: bold;
  }

p{
    font-family: $font-family-sans-serif;
    font-size: 14px;
  }

  /*connection*/
  .form-label {
  color: $primary;
  }

  .connection-container {
    margin-left: 20%;
    margin-bottom: 30px;
    margin-right: 20%;
  }

/*reservation*/

.allreservations {
    a{
        display: block;
        color: $black;
        padding: 10px;


    }
}
